<nav id="navbar"> <!-- ng-controller="menuCtrl"> -->
  <ul>
    <li><a class="active" href="/">HOME</a></li>
    <li><a href="#!/#locals">LOCALS</a></li>
    <li><a href="#!/#about">ABOUT US</a></li>
    <li><a href="#!/contact">CONTACT</a></li>
        <!-- LogProf -->
   <!--  <li id="LogProf">
        <a id="acceder" ng-show="accederV" href="" ng-click="open()" >ACCESS</a>
        <a id='profile' ng-show="profileV" href='#/user/profile'><img ng-show="profileV" id='menuImg' class='icon rounded' src='{{avatar}}'/>{{nombre}}</a>
    </li>    
    <li><a id='logout' ng-show="logoutV" ng-click='logout()' >LOG OUT</a></li> -->
  </ul>
</nav>
  <!-- alertbanner -->
<!-- <div id="alertbanner" ng-show="bannerV"><a ng-class='bannerClass'>{{bannerText}}</a></div> -->